
.notice-hmyt {
    font-weight: 600;
}

button#hmyt-delete-single-chat-btn, button#hmyt-delete-all-chats-btn {
    border-color: #ff4d4f !important;
    background: #ffffff !important;
    color: #ff4d4f !important;
    border: 1px solid #ff4d4f !important;
    display: flex;
    padding: 3px 10px !important;
    gap: 5px;
    border-radius: 8px !important;
    font-weight: 600 !important;
    align-items: center;
    cursor: pointer;
}

div#wpbody-content {
    line-height: normal;
}

.rtl #wpadminbar a {
    font-family: Estedad-FD,sans-serif,dashicons !important;
}

#wpadminbar #wp-admin-bar-user-info span {
    font-family: Estedad-FD,sans-serif,dashicons;
}

#woocommerce-order-data .handlediv,#woocommerce-order-data .hndle,#woocommerce-order-data .postbox-header {
    display: flex!important
}

#poststuff .tagsdiv .ajaxtag {
    display: flex;
    margin-top: 1em;
}

.postbox,.postbox-header {
    border-color: #e4e4e7
}

.subsubsub a,.subsubsub li {
    margin: 0 5px;
    display: flex
}

#poststuff .postbox #publishing-action,#titlediv #titlewrap,.subsubsub a {
    position: relative
}

@font-face {
    font-family: wp-administration-style-icons;
    src: url(../font/dashicons.woff) format("woff");
    font-style: normal;
    font-weight: 400
}

@font-face{font-family:Estedad-FD;src:url('../font/Estedad-FD[KSHD,wght].woff2') format('woff2');font-weight:100 900;font-display:swap}

:root {
    --wp-admin-theme-color: #043959;
    --wp-admin-theme-color-darker-10: #05304a;
    --wp-admin-theme-color-darker-20: #082c43;
    --e-focus-color: rgba(#043959,.4);
    --e-context-primary-color: #043959;
    --e-context-primary-color-dark: #05304a;
    --e-context-primary-tint-4: rgba(#043959,.4);
    --e-context-primary-tint-1: rgba(#043959,.04)
}

[dir=rtl] #upgrade,[dir=rtl] .awaiting-mod.update-plugins,[dir=rtl] .update-last-checked,[dir=rtl] .update-plugins,[dir=rtl] .wp-current-version,html[dir=rtl] #woocommerce_dashboard_status .wc_status_list li a strong,html[dir=rtl] .ab-label,html[dir=rtl] .count,html[dir=rtl] .displaying-num,html[dir=rtl] .num,html[dir=rtl] .plugin-count,html[dir=rtl] .theme-count,html[dir=rtl] .woocommerce-reports-wide .postbox div.stats_range ul li a,html[dir=rtl] .yoast-issue-counter {
    -moz-font-feature-settings: "ss02";
    -webkit-font-feature-settings: "ss02";
    font-feature-settings: "ss02"
}

.wp-core-ui.wp-ui-notification.yoast-issue-counter {
    min-width: 10px!important;
    height: 24px!important
}

#wpadminbar .wp-core-ui.wp-ui-notification.yoast-issue-counter {
    text-align: center;
    padding: 4px 7px 0!important;
    width: 10px!important;
    display: block;
    min-width: 10px!important;
    line-height: 0!important;
    height: 20px!important
}

#wpadminbar .wp-core-ui.wp-ui-notification.yoast-issue-counter .yoast-issues-count {
    display: block;
    margin-top: -7px
}

.postbox {
    overflow: hidden;
    border-radius: 11px!important;
    box-shadow: unset!important;
    padding: 10px
}

.postbox#dashboard_right_now .inside .main ul li a {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .5rem;
    color: #52525b
}

.postbox#dashboard_right_now .inside .main ul li a:hover,.postbox#dashboard_right_now .inside .main ul li a:hover::before,.subsubsub a.current,.subsubsub a:focus,.subsubsub a:hover,[class*=plugin-install-] .filter-links li>a.current,a,a:active,a:focus,a:hover {
    color: #043959
}

.postbox#dashboard_right_now .inside .main ul li a::before {
    padding: .25rem;
    background: #fafafa;
    border-radius: 6px;
    font-size: 16px;
    color: #a1a1aa
}

.postbox#dashboard_right_now .post-count a::before,.wp-menu-image.dashicons-admin-post::before {
    font-family: wp-administration-style-icons!important;
    content: ""!important
}

.postbox#dashboard_right_now .page-count a::before,.wp-menu-image.dashicons-admin-page::before {
    font-family: wp-administration-style-icons!important;
    content: ""!important
}

#wp-admin-bar-comments .ab-icon::before,.postbox#dashboard_right_now .comment-count a::before,.wp-menu-image.dashicons-admin-comments::before {
    font-family: wp-administration-style-icons!important;
    content: ""!important
}

.postbox-header h2.hndle {
    padding: 0 1rem 0 0!important;
    color: #52525b
}

.postbox-header .handle-actions .handle-order-higher,.postbox-header .handle-actions .handle-order-lower,.postbox-header .handle-actions button {
    width: 36px;
    height: 36px
}

.postbox .order-higher-indicator::before {
    font-family: wp-administration-style-icons!important;
    content: ""!important
}

.postbox .order-lower-indicator::before {
    font-family: wp-administration-style-icons!important;
    content: ""!important
}

#collapse-menu .collapse-button-icon,.postbox .order-higher-indicator,.postbox .order-lower-indicator {
    display: flex;
    align-items: center;
    justify-content: center
}

.postbox .order-higher-indicator::before,.postbox .order-lower-indicator::before {
    top: unset!important;
    width: unset!important;
    height: unset!important
}

#dashboard-widgets .inside {
    padding: 1rem!important
}

#dashboard_right_now .main {
    padding: unset!important;
    display: grid;
    gap: 8px
}

#dashboard_right_now .main>p,#dashboard_right_now .main>ul>li,#edit-slug-box .cancel,.tablenav *,input[type=radio]::before {
    margin: unset!important
}

#dashboard-widgets .postbox-container .empty-container {
    outline-color: #e4e4e7!important;
    border-radius: 11px!important
}

#dashboard_quick_press form,#poststuff #postimagediv .inside>p.hide-if-no-js:last-of-type,.js #dashboard_quick_press .drafts ul li,[class*=plugin-install-] #search-plugins,[class*=plugin-install-] #typeselector,[class*=plugin-install-] .search-plugins {
    margin: unset
}

.js #dashboard_quick_press .drafts {
    border-color: #e4e4e7;
    margin-top: 1rem
}

.js #dashboard_quick_press .drafts ul {
    display: grid;
    gap: 8px
}

.postbox .inside h2,.wrap [class$=icon32]+h2,.wrap h1,.wrap>h2:first-child {
    font-size: 20px;
    padding: 10px 0;
    color: #32373c
}

.postbox .hndle,.stuffbox .hndle {
    border-bottom-color: #eee
}

.postbox .handlediv {
    display: inline-flex!important;
    align-items: center!important;
    justify-content: center!important;
    line-height: 0!important
}

.postbox .handlediv .toggle-indicator::before {
    box-shadow: unset!important;
    position: unset!important;
    top: unset!important;
    margin: unset!important;
    font-size: 18px
}

.postbox .handlediv[aria-expanded=false] .toggle-indicator::before {
    font-family: wp-administration-style-icons!important;
    content: ""!important
}

.postbox .handlediv[aria-expanded=true] .toggle-indicator::before {
    font-family: wp-administration-style-icons!important;
    content: ""!important
}

.metabox-holder .postbox>h3,.metabox-holder .stuffbox>h3,.metabox-holder h2.hndle,.metabox-holder h3.hndle {
    padding-top: 8px!important;
    padding-bottom: 8px!important;
    font-weight: 400
}

.order-higher-indicator::before,.order-lower-indicator::before,.toggle-indicator::before {
    font-size: 18px
}

* {
    margin: none;
    border: none;
    padding: none;
    outline: 0;
    list-style: none;
    -webkit-user-drag: none;
    box-shadow: unset;
    text-decoration: none!important;
    font-style: normal!important
}

body {
    color: #52525b!important;
    background: #f4f4f5!important
}

.welcome-panel {
    border-radius: 6px;
    overflow: hidden
}

.welcome-panel h3 {
    font-size: 16px
}

.welcome-panel p {
    line-height: initial
}

.welcome-panel .welcome-panel-close {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    top: 0;
    left: 0
}

.welcome-panel .welcome-panel-close::before {
    position: unset;
    inset: unset;
    font-size: unset
}

.wp-list-table.plugins .plugin-title strong {
    font-size: 14px!important;
    color: #141414
}

.screen-per-page {
    width: 5em;
    line-height: 1
}

#screen-options-apply {
    padding: .25rem 2rem
}

#screen-meta {
    border-color: #e4e4e7;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: unset!important
}

.plugins .active td,.plugins .active th {
    background: rgba(240,249,255,.7)
}

.plugin-update-tr.active td,.plugins .active th.check-column {
    border-color: #0ea5e9
}

#poststuff #postimagediv img,.action,.button,table.wp-list-table.widefat.plugins {
    border: unset!important
}

.wp-core-ui .button-primary {
    color: #f4f4f5;
    background-color: #043959
}

.wp-core-ui .button-primary:focus,.wp-core-ui .button-primary:hover {
    color: #fafafa;
    background-color: #05304a
}

[type=button],a.btn,a.button,button {
    user-select: none!important
}

#submit,.page-title-action {
    user-select: none;
    font-weight: 400!important;
    transition: .2s ease-in-out!important
}

.wp-core-ui .button-secondary,.wp-core-ui .button:not(.button-primary) {
    color: #424248;
    background-color: #ddd
}

#poststuff #add-new-comment>button:focus,#poststuff #add-new-comment>button:hover,#poststuff #category-add-toggle:focus,#poststuff #category-add-toggle:hover,#poststuff #link-post_tag:focus,#poststuff #link-post_tag:hover,#poststuff #link-product_tag:focus,#poststuff #link-product_tag:hover,#poststuff #remove-post-thumbnail:focus,#poststuff #remove-post-thumbnail:hover,#poststuff #set-post-thumbnail:not([aria-describedby=set-post-thumbnail-desc]):focus,#poststuff #set-post-thumbnail:not([aria-describedby=set-post-thumbnail-desc]):hover,#poststuff .postbox #duplicate-action a:focus,#poststuff .postbox #duplicate-action a:hover,#poststuff .postbox #post-preview:focus,#poststuff .postbox #post-preview:hover,#poststuff .postbox #save-post:focus,#poststuff .postbox #save-post:hover,.wp-core-ui .button-secondary:focus,.wp-core-ui .button-secondary:hover,.wp-core-ui .button:not(.button-primary):focus,.wp-core-ui .button:not(.button-primary):hover {
    color: #52525b;
    background-color: #e4e4e7
}

.wp-core-ui .button-secondary:focus,.wp-core-ui .button:not(.button-primary):focus {
    box-shadow: 0 0 0 3px rgba(244,244,245,.4) print_important(false)
}

#submit {
    border-radius: 6px;
    border: unset!important;
    color: #fafafa!important;
    line-height: 1.5;
    background: #043959!important
}

#submit:focus,#submit:hover,.page-title-action:first-of-type:focus,.page-title-action:first-of-type:hover,[class*=plugin-install-] .plugin-card .plugin-action-buttons .button:not(.button-disabled):focus,[class*=plugin-install-] .plugin-card .plugin-action-buttons .button:not(.button-disabled):hover {
    background: #05304a!important
}

#poststuff .postbox #publish:focus,#submit:focus,.page-title-action:first-of-type:focus,[class*=plugin-install-] .plugin-card .plugin-action-buttons .button:not(.button-disabled):focus {
    box-shadow: 0 0 0 3px rgba(2,132,199,.4) print_important(true)
}

::selection {
    background-color: #d4d4d8;
    color: #141414
}

.wp-person a:focus .gravatar,:focus,a:focus,a:focus .media-icon img {
    outline: 0!important;
    box-shadow: unset!important
}

body :not(i,[class*=-icon],[class*=dashicons]),body.rtl,body:not(*)::after,body:not(*)::before {
    font-family: Estedad-FD,sans-serif,dashicons
}

.title-count {
    display: inline-block!important;
    line-height: 0!important;
    padding: 16px 12px 14px;
    border-radius: 5px
}

.filter-count .count {
    top: 5px;
    padding: 8px 10px
}

.wp-heading-inline {
    font-size: 1.25rem!important;
    font-weight: 400!important;
    margin: 0 0 0 1rem!important;
    padding: unset!important
}

.page-title-action {
    border-radius: 6px!important;
    padding: 6px 12px!important;
    border: unset!important;
    font-size: 14px!important;
    line-height: 1.5!important;
    margin: unset!important;
    color: #e4e4e7!important;
    background-color: #52525b!important
}

.tablenav,.tablenav .actions {
    padding: unset!important;
    gap: 1rem!important
}

#edit-slug-buttons button,#sample-permalink>a,thead a {
    color: #71717a!important
}

#search-submit:focus,#search-submit:hover,.page-title-action:focus,.page-title-action:hover,.tablenav input[type=submit]:focus,.tablenav input[type=submit]:hover {
    color: #f4f4f5!important;
    background-color: #141414!important
}

.page-title-action:first-of-type,input[type=radio]:checked::before {
    background: #043959!important
}

.page-title-action:not(:last-of-type) {
    margin-left: .5rem!important
}

#wpbody-content .wrap {
    margin: 1rem 0 1rem 1rem
}

#wpbody-content .wp-header-end {
    margin: 1rem 0 0;
    border: none
}

.subsubsub {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
    margin-top: 0;
    margin-bottom: 1rem
}

.subsubsub li:last-child a {
    margin-left: 0
}

.subsubsub li:last-child a::after {
    content: unset
}

.subsubsub a {
    font-size: 14px;
    align-items: center;
    gap: 2px;
    padding: 0;
    color: #52525b;
    line-height: 1
}

#titlediv #title,.tablenav select {
    color: #52525b!important;
    min-height: unset!important
}

.response-links a.comments-edit-item-link,.subsubsub a.current,[class*=plugin-install-] .plugin-card .column-updated strong {
    font-weight: 400
}

.subsubsub a .count {
    font-size: .75rem;
    color: #a1a1aa!important;
    font-weight: 300
}

#search-submit,.tablenav input[type=submit] {
    color: #e4e4e7!important;
    background-color: #52525b!important;
    user-select: none;
    height: 2.4rem;
    transition: .2s ease-in-out
}

.tablenav {
    width: 100%!important;
    display: flex!important;
    flex-wrap: wrap!important;
    align-items: center!important;
    margin: 1rem 0!important;
    clear: unset!important;
    height: unset!important;
    vertical-align: unset!important;
    flex-wrap: wrap
}

.tablenav .actions {
    display: flex!important;
    align-items: center!important;
    flex-wrap: wrap;
}

.tablenav .alignleft {
    float: unset!important
}

.tablenav .bulkactions select {
    order: 2
}

.tablenav .bulkactions input {
    order: 1
}

.tablenav select {
    height: 2.4rem!important;
    border-radius: 6px;
    background-position-x: .5rem!important;
    background-position-y: 50%
}

.tablenav input[type=submit] {
    border-radius: 6px;
    padding-right: 2rem;
    padding-left: 2rem
}

.tablenav input[type=submit]:focus {
    box-shadow: 0 0 0 3px rgba(82,82,91,.4) print_important(true)
}

body.admin-color-fresh #adminmenu,body.admin-color-fresh #adminmenuback,body.admin-color-fresh #adminmenuwrap,body.admin-color-fresh #wpadminbar {
    background: #222228
}

body.admin-color-fresh #adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
    border-left-color: rgba(255,255,255,.05)
}

body.admin-color-fresh #adminmenu a,body.admin-color-fresh #collapse-button,body.admin-color-fresh #wpadminbar .ab-empty-item,body.admin-color-fresh #wpadminbar a.ab-item,body.admin-color-fresh #wpadminbar>#wp-toolbar span.ab-label,body.admin-color-fresh #wpadminbar>#wp-toolbar span.noticon {
    color: #d4d4d8
}

body.admin-color-fresh #adminmenu .wp-submenu li.current a:hover,body.admin-color-fresh #adminmenu .wp-submenu li.current a:hover:hover,body.admin-color-fresh #adminmenu .wp-submenu li.current:hover,body.admin-color-fresh #comment-status-display:hover,body.admin-color-fresh #dashboard_right_now .versions .b:hover,body.admin-color-fresh #ed_reply_toolbar #ed_reply_strong:hover,body.admin-color-fresh #pass-strength-result.short:hover,body.admin-color-fresh #pass-strength-result.strong:hover,body.admin-color-fresh #post-visibility-display:hover,body.admin-color-fresh .feature-filter .feature-name:hover,body.admin-color-fresh .item-controls .item-order a:hover,body.admin-color-fresh .media-item .percent:hover,body.admin-color-fresh .plugins .name:hover {
    color: #e4e4e7
}

body.admin-color-fresh #adminmenu .wp-menu-image:before,body.admin-color-fresh #adminmenu li a:focus .wp-menu-image:before,body.admin-color-fresh #adminmenu li.opensub .wp-menu-image:before,body.admin-color-fresh #adminmenu li:hover .wp-menu-image:before,body.admin-color-fresh #wpadminbar #adminbarsearch:before,body.admin-color-fresh #wpadminbar .ab-icon:before,body.admin-color-fresh #wpadminbar .ab-item:before {
    color: rgba(255,255,255,.3)!important
}

body.admin-color-fresh #adminmenu .wp-has-current-submenu .wp-submenu,body.admin-color-fresh #adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head,body.admin-color-fresh #adminmenu .wp-has-current-submenu .wp-submenu.sub-open,body.admin-color-fresh #adminmenu .wp-has-current-submenu.opensub .wp-submenu,body.admin-color-fresh #adminmenu .wp-menu-arrow,body.admin-color-fresh #adminmenu .wp-menu-arrow div,body.admin-color-fresh #adminmenu .wp-submenu,body.admin-color-fresh #adminmenu .wp-submenu a:focus,body.admin-color-fresh #adminmenu .wp-submenu a:hover,body.admin-color-fresh #adminmenu a.wp-has-current-submenu:focus+.wp-submenu,body.admin-color-fresh #adminmenu a:hover,body.admin-color-fresh #adminmenu li.current a.menu-top,body.admin-color-fresh #adminmenu li.menu-top:hover,body.admin-color-fresh #adminmenu li.menu-top>a:focus,body.admin-color-fresh #adminmenu li.opensub>a.menu-top,body.admin-color-fresh #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,body.admin-color-fresh #adminmenu li>a.menu-top:focus,body.admin-color-fresh #collapse-button:hover,body.admin-color-fresh #wpadminbar .ab-top-menu>li.hover>.ab-item,body.admin-color-fresh #wpadminbar .menupop .ab-sub-wrapper,body.admin-color-fresh #wpadminbar .shortlink-input,body.admin-color-fresh #wpadminbar.nojq .quicklinks .ab-top-menu>li>.ab-item:focus,body.admin-color-fresh #wpadminbar:not(.mobile) .ab-top-menu>li:hover>.ab-item,body.admin-color-fresh #wpadminbar:not(.mobile) .ab-top-menu>li>.ab-item:focus,body.admin-color-fresh .folded #adminmenu .wp-has-current-submenu .wp-submenu,body.admin-color-fresh .folded #adminmenu a.wp-has-current-submenu:focus+.wp-submenu,body.admin-color-fresh .folded #adminmenu li.current.menu-top,body.admin-color-fresh .folded #adminmenu li.wp-has-current-submenu,body.admin-color-fresh .no-js li.wp-has-current-submenu:hover .wp-submenu {
    background: #141414;
    color: #e4e4e7
}

body.admin-color-fresh #wpadminbar .quicklinks .menupop ul.ab-sub-secondary,body.admin-color-fresh #wpadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu {
    background: #141414
}

body.admin-color-fresh #adminmenu .awaiting-mod,body.admin-color-fresh #adminmenu .update-plugins,body.admin-color-fresh #adminmenu li a.wp-has-current-submenu .update-plugins,body.admin-color-fresh #adminmenu li.current a .awaiting-mod {
    background: #ff4f5d
}

body.admin-color-fresh #wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover>a,body.admin-color-fresh #wpadminbar .quicklinks .menupop ul li a:focus,body.admin-color-fresh #wpadminbar .quicklinks .menupop ul li a:focus strong,body.admin-color-fresh #wpadminbar .quicklinks .menupop ul li a:hover,body.admin-color-fresh #wpadminbar .quicklinks .menupop ul li a:hover strong,body.admin-color-fresh #wpadminbar .quicklinks .menupop.hover ul li a:focus,body.admin-color-fresh #wpadminbar .quicklinks .menupop.hover ul li a:hover,body.admin-color-fresh #wpadminbar .quicklinks .menupop.hover ul li div[tabindex]:focus,body.admin-color-fresh #wpadminbar .quicklinks .menupop.hover ul li div[tabindex]:hover,body.admin-color-fresh #wpadminbar li #adminbarsearch.adminbar-focused:before,body.admin-color-fresh #wpadminbar li .ab-item:focus .ab-icon:before,body.admin-color-fresh #wpadminbar li .ab-item:focus:before,body.admin-color-fresh #wpadminbar li a:focus .ab-icon:before,body.admin-color-fresh #wpadminbar li.hover .ab-icon:before,body.admin-color-fresh #wpadminbar li.hover .ab-item:before,body.admin-color-fresh #wpadminbar li:hover #adminbarsearch:before,body.admin-color-fresh #wpadminbar li:hover .ab-icon:before,body.admin-color-fresh #wpadminbar li:hover .ab-item:before,body.admin-color-fresh #wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus,body.admin-color-fresh #wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover,body.admin-color-fresh #wpadminbar:not(.mobile)>#wp-toolbar a:focus span.ab-label,body.admin-color-fresh #wpadminbar:not(.mobile)>#wp-toolbar li:hover span.ab-label,body.admin-color-fresh #wpadminbar>#wp-toolbar li.hover span.ab-label {
    color: #e4e4e7
}

body.admin-color-fresh #collapse-button .collapse-button-icon,table tbody .author {
    color: #71717a
}

body.admin-color-fresh #collapse-button .collapse-button-label {
    top: 6px
}

body.admin-color-fresh #wpadminbar #wp-admin-bar-comments .count-0 {
    opacity: 1
}

#adminmenu a:focus,#adminmenu a:hover,.folded #adminmenu .wp-submenu-head:hover {
    box-shadow: inset -2px 0 0 0 rgba(255,255,255,.4)
}

#poststuff .postbox #duplicate-action,p.search-box {
    margin-bottom: .5rem
}

#comment-search-input,#post-search-input,#tag-search-input,#user-search-input {
    height: 2.4rem;
    margin: unset!important;
    border-radius: 0 6px 6px 0!important;
    font-size: 14px
}

#search-submit {
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: -4px;
    font-size: 14px!important;
    border: unset!important;
    font-weight: 400!important;
    line-height: 1.5
}

#search-submit:focus {
    box-shadow: 0 0 0 3px rgba(113,113,122,.4) print_important(true)
}

#wp-admin-bar-my-account>.ab-item {
    font-size: 0;
    overflow: hidden;
    display: flex!important;
    align-items: center;
    gap: 6px;
    line-height: 0
}

#wp-admin-bar-my-account>.ab-item .avatar {
    margin: unset!important;
    border-radius: 6px
}

#wp-admin-bar-my-account>.ab-item .display-name {
    font-size: 12px;
    line-height: 0
}

#wp-admin-bar-root-default .ab-icon::before,#wp-admin-bar-root-default .ab-item::before {
    top: unset!important;
    font-size: 16px!important
}

#wp-admin-bar-my-account>.ab-sub-wrapper * {
    line-height: 1
}

@media screen and (max-width: 782px) {
    #wp-admin-bar-my-account>.ab-item .display-name {
        margin-left:90px;
        margin-top: 10px
    }

    #wpadminbar #wp-admin-bar-my-account.with-avatar #wp-admin-bar-user-actions {
        padding: 12px 8px 16px
    }
}

#wpadminbar #wp-admin-bar-my-account.with-avatar #wp-admin-bar-user-actions>li .ab-item {
    padding: 0 10px!important
}

#wpadminbar #wp-admin-bar-user-info {
    margin-bottom: 0!important;
    padding-bottom: 3px!important
}

#wpadminbar #wp-admin-bar-user-info .avatar,.avatar {
    border-radius: 6px
}

#screen-meta-links #contextual-help-link,#screen-meta-links #show-settings-link {
    width: 36px!important;
    height: 32px!important;
    min-height: unset!important;
    color: #a1a1aa!important;
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
    font-size: 0!important;
    line-height: 1!important;
    box-shadow: unset!important;
    padding: unset!important;
    border: 1px solid #e4e4e7!important;
    border-radius: 0 0 6px 6px!important
}

#screen-meta-links #contextual-help-link::after,#screen-meta-links #show-settings-link::after {
    left: unset!important;
    font-size: 1rem!important;
    display: inline-flex!important;
    align-items: center!important;
    justify-content: center!important;
    padding-left: unset!important;
    bottom: unset!important
}

#edit-slug-buttons button:focus,#edit-slug-buttons button:hover,#sample-permalink>a:focus,#sample-permalink>a:focus *,#sample-permalink>a:hover,#sample-permalink>a:hover *,#screen-meta-links #contextual-help-link:focus,#screen-meta-links #contextual-help-link:hover,#screen-meta-links #show-settings-link:focus,#screen-meta-links #show-settings-link:hover {
    color: #043959!important
}

#screen-meta-links #contextual-help-link::after {
    font-family: wp-administration-style-icons!important;
    content: ""!important
}

#screen-meta-links #show-settings-link::after,.wp-menu-image.dashicons-admin-settings::before {
    font-family: wp-administration-style-icons!important;
    content: ""!important
}

#wp-admin-bar-root-default .ab-item {
    display: flex!important;
    align-items: center!important;
    gap: .5rem!important
}

#wp-admin-bar-root-default .ab-item::before {
    padding: unset!important;
    margin: unset!important
}

#wp-admin-bar-root-default .ab-icon {
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
    float: unset!important;
    padding: 0!important;
    margin: 0!important;
    background-image: unset!important
}

#wp-admin-bar-new-content .ab-icon::before {
    font-family: wp-administration-style-icons!important;
    content: ""!important
}

#wp-admin-bar-updates .ab-icon::before {
    font-family: wp-administration-style-icons!important;
    content: ""!important
}

#wp-admin-bar-site-name>.ab-item::before {
    font-family: wp-administration-style-icons!important;
    content: ""!important
}

@media only screen and (min-width: 782px) {
    #wpadminbar .quicklinks>ul>li:not(#wp-admin-bar-menu-toggle)>a {
        padding-right:.5rem!important;
        padding-left: .5rem!important
    }
}

#wp-admin-bar-site-name>a {
    padding-right: .5rem!important;
    padding-left: .5rem!important
}

#wpadminbar #wp-admin-bar-site-name>.ab-item:before {
    width: unset!important
}

#wp-admin-bar-site-name>.ab-item {
    text-indent: unset!important
}

#wpadminbar #wp-admin-bar-comments .ab-icon:before {
    height: unset!important;
    line-height: unset!important
}

#wpadminbar #wp-admin-bar-new-content .ab-icon:before {
    line-height: unset!important;
    height: unset!important
}

.notice {
    overflow: hidden;
    border-radius: 6px;
    user-select: none
}

.notice.updated {
    border-right-color: #10b981!important
}

.notice-dismiss::before {
    color: #a1a1aa
}

.notice-dismiss:focus::before,.notice-dismiss:hover::before {
    color: #f87171!important
}

.update-message.notice-error p:before {
    color: #f87171
}

.wp-filter-search {
    border-color: #e4e4e7!important;
    padding: 4px 10px!important
}

.wp-filter-search:focus {
    border-color: inherit
}

#menu-management .menu-edit,#menu-settings-column .accordion-container,.comment-ays,.feature-filter,.imgedit-group,.manage-menus,.menu-item-handle,.popular-tags,.stuffbox,.widefat tfoot td,.widefat tfoot th,.widefat thead td,.widefat thead th,.widget-inside,.widget-top,.widgets-holder-wrap,.wp-editor-container,p.popular-tags,table.widefat {
    border-color: #eee
}

table tbody .comment>p {
    font-size: 14px;
    color: #71717a
}

table tbody .author a {
    font-size: 12px
}

table tbody .submitted-on a {
    font-size: 12px;
    border-bottom: 1px dashed #043959
}

table tbody .submitted-on a:focus,table tbody .submitted-on a:hover {
    color: #05304a;
    border-bottom-color: #05304a
}

input,select,textarea {
    border-color: #e4e4e7!important;
    box-shadow: unset!important;
    outline: 0!important;
    border-width: 2px!important
}

#the-comment-list .response-links {
    display: flex;
    gap: .25rem;
    align-items: center
}

.comment-count-approved,.comments-edit-item-link,.comments-view-item-link {
    position: relative!important;
    font-size: 0!important;
    display: inline-flex!important;
    align-items: center!important;
    justify-content: center!important;
    color: #71717a!important;
    background: #f4f4f5!important;
    width: 2rem!important;
    line-height: 0!important;
    height: 2rem!important;
    border-radius: 6px!important
}

.comment-count-approved:focus,.comment-count-approved:hover,.comments-edit-item-link:focus,.comments-edit-item-link:hover,.comments-view-item-link:focus,.comments-view-item-link:hover {
    background: #d4d4d8!important
}

.comment-count-approved:focus::before,.comment-count-approved:hover::before,.comments-edit-item-link:focus::before,.comments-edit-item-link:hover::before,.comments-view-item-link:focus::before,.comments-view-item-link:hover::before {
    color: #52525b
}

.comment-count-approved:focus::after,.comment-count-approved:hover::after,.comments-edit-item-link:focus::after,.comments-edit-item-link:hover::after,.comments-view-item-link:focus::after,.comments-view-item-link:hover::after {
    opacity: 1;
    visibility: visible;
    pointer-events: auto
}

.comment-count-approved::before,.comments-edit-item-link::before,.comments-view-item-link::before {
    color: #71717a;
    font-size: 14px!important
}

.comment-count-approved::after,.comments-edit-item-link::after,.comments-view-item-link::after {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    content: "";
    padding: 2px 10px;
    background: #f4f4f5;
    display: inline-block;
    position: absolute!important;
    bottom: calc(100% + .5rem);
    font-size: 14px!important;
    white-space: nowrap;
    right: 0;
    font-weight: 400;
    line-height: 1.4rem;
    border-radius: 6px;
    transition: .2s ease-in;
    border: 1px solid #e4e4e7;
    box-shadow: 0 0 8px #f4f4f5
}

.comments-edit-item-link::before {
    font-family: wp-administration-style-icons!important;
    content: ""!important
}

.comments-edit-item-link::after {
    content: "ویرایش"
}

.comments-view-item-link::before {
    font-family: wp-administration-style-icons!important;
    content: ""!important
}

.comments-view-item-link::after {
    content: "نمایش"
}

.comment-count-approved {
    all: unset!important;
    font-size: .9rem!important
}

#collapse-menu .collapse-button-icon::after,.comment-count-approved::after,.media-modal .attachment-info .thumbnail-image::after {
    content: unset!important
}

.media-modal #media-search-input,.post-com-count-approved {
    margin-top: unset!important
}

.post-com-count-approved::after {
    display: inline-block!important;
    margin-right: unset!important;
    width: unset!important;
    height: unset!important;
    border: unset!important
}

.post-com-count-pending {
    right: -.5rem!important;
    border-radius: 100%!important;
    background: #ef4444!important;
    width: .5rem!important;
    height: .5rem!important;
    line-height: 1!important;
    padding: .23rem .25rem .27rem!important;
    min-width: unset!important;
    border: unset!important
}

input:focus,input:hover,select:focus,select:hover,textarea:focus,textarea:hover {
    border-color: rgba(2,132,199,.5)!important
}

input[type=checkbox],input[type=radio] {
    width: 1.1rem!important;
    height: 1.1rem!important;
    max-width: 1.1rem!important;
    max-height: 1.1rem!important;
    min-width: 1.1rem!important;
    min-height: 1.1rem!important
}

input:not([type=radio]),select,textarea {
    border-radius: 10px
}

input[type=date],input[type=datetime-local],input[type=datetime],input[type=email],input[type=month],input[type=number],input[type=password],input[type=search],input[type=tel],input[type=text],input[type=time],input[type=url],input[type=week] {
    min-height: 2.4rem
}

.action:hover,.button:hover {
    opacity: .9
}

select {
    padding: 1px 10px 1px 30px
}

.action,.button,select {
    box-shadow: unset!important;
    box-shadow: 0 1px 2px rgba(51,51,51,.07)
}

input[type=checkbox]:not(.components-form-toggle__input) {
    position: relative!important;
    border-radius: 6px;
    outline: 0!important;
    transition: .2s
}

input[type=checkbox]:not(.components-form-toggle__input):focus,input[type=checkbox]:not(.components-form-toggle__input):hover {
    box-shadow: 0 0 0 3px rgba(2,132,199,.2)!important;
    border-color: rgba(2,132,199,.5)!important
}

#poststuff .postbox #post-body .misc-pub-comment-status:before,#poststuff .postbox #post-body .misc-pub-post-status:before,#poststuff .postbox .misc-pub-section #timestamp::before,#poststuff .postbox .misc-pub-section::before,.media-modal .media-search-input-label,input[type=checkbox]:not(.components-form-toggle__input)::before {
    all: unset!important
}

input[type=checkbox]:not(.components-form-toggle__input):checked {
    border-color: rgba(2,132,199,.5)!important;
    background: #043959!important
}

input[type=checkbox]:not(.components-form-toggle__input):checked::before {
    position: absolute!important;
    top: 50%!important;
    right: 50%!important;
    transform: translate(50%,-50%)!important;
    font-size: 8px!important;
    color: #fff!important;
    font-family: wp-administration-style-icons!important;
    content: ""!important
}

input[type=radio] {
    display: inline-flex!important;
    align-items: center;
    justify-content: center
}

input[type=button],input[type=checkbox],input[type=file],input[type=radio],input[type=range],input[type=submit],select {
    user-select: none;
    -webkit-user-drag: none
}

.wp-core-ui .button,.wp-core-ui .button-primary,.wp-core-ui .button-secondary,select {
    border-radius: 10px!important
}

a.preview,input#publish,input#save-post {
    margin-bottom: unset;
    line-height: unset
}

.media-modal {
    top: 0!important;
    right: 0!important;
    left: 0!important;
    bottom: 0!important
}

.media-modal .media-modal-close {
    border-color: transparent!important
}

.media-modal .media-toolbar-primary {
    display: flex;
    align-items: center;
    gap: 10px
}

.media-modal .wp-core-ui .attachment .check {
    top: 8px!important;
    left: 8px!important
}

.media-modal .attachment-info .thumbnail-image {
    all: unset!important;
    display: block!important;
    background: #fcfcfc!important
}

.media-modal .attachment-info .thumbnail-image img {
    max-width: 100%!important;
    max-height: unset!important;
    margin: unset!important
}

.media-modal .attachment-info .details {
    all: unset!important;
    display: block!important;
    margin-top: 15px!important
}

.media-modal .media-modal .delete-attachment,.media-modal .media-modal .edit-attachment {
    display: inline-block;
    background: #0073aa;
    color: #fff!important;
    padding: 6px 10px;
    border-radius: 4px;
    margin-top: 10px;
    margin-left: 15px;
    transition: .3s ease-in-out
}

.media-modal .media-modal .delete-attachment:hover,.media-modal .media-modal .edit-attachment:hover {
    opacity: .8
}

.media-modal .media-modal .delete-attachment {
    background: #bc0b0b
}

#titlediv {
    display: grid
}

#titlediv #title {
    border: unset!important;
    height: unset!important;
    margin: unset!important;
    background: unset!important;
    max-height: unset!important;
    padding: 0 0 8px!important;
    border-radius: unset!important;
    border-bottom: 3px solid #e4e4e7!important
}

#titlediv #title-prompt-text {
    top: 10px;
    color: #a1a1aa!important;
    padding: unset!important
}

#titlediv #title,#titlediv #title-prompt-text {
    font-size: 24px!important
}

body table.wp-list-table.widefat.fixed.striped.table-view-list.posts {
    border-radius: 6px;
    box-shadow: unset!important;
    border-color: #e4e4e7
}

body .alternate,body .striped>tbody>:nth-child(odd),body ul.striped>:nth-child(odd) {
    background: #fafafa
}

#poststuff .postbox #minor-publishing-actions {
    padding: unset!important;
    display: flex;
    align-items: center;
    gap: .5rem;
    flex-wrap: wrap
}

#poststuff .postbox #save-action {
    position: relative;
    margin-right: -.5rem
}

#poststuff .postbox #save-action .spinner {
    margin: unset;
    float: unset;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%)
}

#poststuff .postbox #post-preview,#poststuff .postbox #save-post {
    padding: .75rem 1rem!important;
    border-radius: 6px!important;
    display: inline-flex!important;
    align-items: center!important;
    text-align: center!important;
    justify-content: center!important;
    user-select: none;
    color: #71717a;
    background-color: #f4f4f5
}

#poststuff #add-new-comment>button:focus,#poststuff #link-post_tag:focus,#poststuff #link-product_tag:focus,#poststuff #remove-post-thumbnail:focus,#poststuff #set-post-thumbnail:not([aria-describedby=set-post-thumbnail-desc]):focus,#poststuff .postbox #duplicate-action a:focus,#poststuff .postbox #misc-publishing-actions .save-post-status:focus,#poststuff .postbox #post-preview:focus,#poststuff .postbox #save-post:focus {
    box-shadow: 0 0 0 3px rgba(228,228,231,.4) print_important(true)
}

#poststuff .postbox #post-preview,#poststuff .postbox #publish,#poststuff .postbox #save-post {
    min-height: unset!important;
    line-height: 1!important
}

#poststuff .postbox #post-preview,#poststuff .postbox #publish,#poststuff .postbox #save-post,#poststuff .postbox a.submitdelete.deletion {
    padding: .5rem 1rem;
    border-radius: 6px;
    transition: .2s ease-in-out!important;
    user-select: none
}

#poststuff .postbox #save-post {
    margin-right: .5rem
}

#poststuff .postbox a.submitdelete.deletion {
    background: rgba(0,0,0,0);
    color: #f87171;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center
}

#poststuff .postbox a.submitdelete.deletion:focus,#poststuff .postbox a.submitdelete.deletion:hover {
    background: #fef2f2;
    color: #f87171
}

#poststuff .postbox a.submitdelete.deletion:focus {
    box-shadow: 0 0 0 3px rgba(254,226,226,.4) print_important(true)
}

#poststuff .postbox #publish {
    background: #043959;
    color: #fff;
    margin-bottom: 0!important
}

#poststuff #add-new-comment>button,#poststuff #category-add-toggle,#poststuff .postbox #duplicate-action a {
    color: #71717a;
    background-color: #f4f4f5;
    user-select: none
}

#poststuff .postbox #publish.disabled {
    background: #f4f4f5!important;
    color: #d4d4d8!important;
    cursor: not-allowed
}

#poststuff .postbox #publish:focus,#poststuff .postbox #publish:hover {
    background: #05304a
}

#poststuff .postbox #publishing-action .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: unset;
    opacity: .9
}

#poststuff .postbox #post-preview {
    height: 2.5rem;
    line-height: 1.8!important
}

#poststuff .postbox #duplicate-action a {
    border-radius: 6px!important;
    display: inline-flex!important;
    align-items: center!important;
    text-align: center!important;
    justify-content: center!important;
    transition: 150ms ease-in-out!important
}

#poststuff .postbox #duplicate-action a,#poststuff .postbox #publish,#poststuff .postbox a.submitdelete.deletion {
    width: calc(100% - .25rem)!important;
    height: 42px!important;
    padding: 0!important
}

#poststuff .postbox #misc-publishing-actions {
    margin-top: .5rem!important;
    display: grid;
    gap: 8px
}

#poststuff .postbox #misc-publishing-actions>div {
    padding: unset!important
}

#poststuff .postbox #misc-publishing-actions #post-status-select {
    gap: .5rem;
    margin-top: .25rem!important
}

#poststuff .postbox #misc-publishing-actions #post_status {
    border-radius: 6px;
    margin: unset
}

#poststuff .postbox #misc-publishing-actions .save-post-status {
    background: #e4e4e7;
    color: #52525b;
    border-radius: 6px;
    transition: .2s ease-in-out!important;
    user-select: none;
    align-items: center;
    display: inline-flex;
    padding-right: 1rem;
    padding-left: 1rem
}

#poststuff .postbox #misc-publishing-actions .save-post-status:focus,#poststuff .postbox #misc-publishing-actions .save-post-status:hover {
    background: #d4d4d8;
    color: #141414
}

#poststuff .postbox #misc-publishing-actions .cancel-post-status {
    align-items: center;
    display: inline-flex
}

#poststuff .postbox .misc-pub-section a.hide-if-no-js:first-of-type {
    font-size: 13px
}

#poststuff .postbox .cancel-post-status,#poststuff .postbox .save-post-status {
    height: 2.4rem
}

#poststuff #categorydiv .inside {
    padding: 0!important
}

#poststuff #category-tabs {
    margin: unset;
    display: flex
}

#poststuff #category-tabs li {
    all: unset;
    display: block;
    width: 100%
}

#poststuff #category-tabs li a {
    padding: .5rem .25rem;
    text-align: center;
    margin: unset;
    border: unset;
    border-bottom: 4px solid transparent;
    background: #fafafa;
    color: #52525b;
    display: block
}

#poststuff #category-tabs li a:focus,#poststuff #category-tabs li a:hover {
    background: #f4f4f5
}

#poststuff #category-tabs li.tabs a {
    border-color: #d4d4d8
}

#poststuff #category-all,#poststuff #category-pop {
    border: unset;
    padding: 1rem 1rem 0
}

#poststuff #categorychecklist,#poststuff #categorychecklist-pop {
    display: grid;
    gap: .5rem;
    margin: unset
}

#poststuff #category-adder,[class*=plugin-install-] .plugin-card .plugin-card-top {
    padding: 1rem
}

#poststuff #category-add-toggle {
    margin: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem 1rem;
    border-radius: 6px;
    font-weight: 400;
    transition: .2s ease-in-out;
    height: 1.6rem
}

#poststuff #category-add-toggle:focus {
    box-shadow: 0 0 0 3px rgba(244,244,245,.4) print_important(true)
}

#poststuff #category-add-submit {
    width: 100%;
    height: 42px
}

#poststuff .tagchecklist {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    margin: 1rem 0!important
}

#poststuff .tagchecklist li {
    display: flex;
    align-items: center;
    gap: .25rem;
    margin: unset!important;
    background: #fafafa;
    border-radius: 6px;
    padding: .25rem .25rem .25rem .75rem;
    font-size: 14px
}

#poststuff .tagchecklist .ntdelbutton {
    position: unset!important;
    margin: unset!important;
    border-radius: 6px
}

#poststuff .tagchecklist .ntdelbutton:hover {
    background: #fef2f2
}

#poststuff .tagchecklist .remove-tag-icon::before {
    font-family: wp-administration-style-icons!important;
    content: ""!important;
    color: #f87171!important
}

#poststuff #tagsdiv-post_tag .ajaxtag {
    margin-top: unset;
    display: flex;
    gap: .5rem
}

#poststuff #new-tag-post_tag {
    margin: unset;
    width: 100%
}

#poststuff #postimagediv .inside>p.hide-if-no-js:first-of-type {
    margin: unset;
    text-align: center;
    display: flex
}

#poststuff #set-post-thumbnail {
    margin-right: auto;
    margin-left: auto
}

#poststuff #set-post-thumbnail:not([aria-describedby=set-post-thumbnail-desc]) {
    margin-top: unset;
    overflow: hidden;
    width: 100%
}

#poststuff #link-post_tag,#poststuff #link-product_tag,#poststuff #remove-post-thumbnail,#poststuff #set-post-thumbnail:not([aria-describedby=set-post-thumbnail-desc]) {
    padding: .75rem 1rem!important;
    border-radius: 6px!important;
    display: inline-flex!important;
    align-items: center!important;
    text-align: center!important;
    justify-content: center!important;
    transition: 150ms ease-in-out!important;
    user-select: none;
    color: #71717a;
    background-color: #f4f4f5
}

#poststuff #link-post_tag,#poststuff #link-product_tag {
    width: 100%
}

#poststuff #remove-post-thumbnail {
    margin-bottom: unset;
    display: flex!important
}

#poststuff #set-post-thumbnail-desc {
    margin-top: 1rem;
    margin-bottom: 1rem
}

#poststuff #commentsdiv p {
    padding: 0
}

#poststuff #add-new-comment>button {
    padding: .75rem 1rem!important;
    border-radius: 6px!important;
    display: inline-flex!important;
    align-items: center!important;
    text-align: center!important;
    justify-content: center!important;
    transition: 150ms ease-in-out!important;
    margin-bottom: 1rem;
    line-height: 1;
    min-height: unset
}

#wp-content-editor-tools {
    background: unset
}

#edit-slug-box {
    height: 30px;
    padding: unset;
    display: flex;
    justify-content: flex-end;
    line-height: 1;
    min-height: unset;
    margin-top: unset
}

#edit-slug-box button {
    padding: 0 10px 4px!important
}

#sample-permalink {
    width: 100%;
    font-size: 12px;
    direction: ltr;
    display: flex;
    align-items: center;
    white-space: nowrap
}

#sample-permalink>a {
    white-space: normal
}

#editable-post-name,#editable-post-name input {
    color: #043959!important;
    font-weight: 500!important;
    width: 100%
}

#editable-post-name input {
    font-size: 12px;
    height: 24px!important;
    background: unset;
    border: unset;
    line-height: unset;
    min-height: unset;
    border-bottom: 1px dashed rgba(2,132,199,.6)!important;
    border-radius: unset!important;
    padding-right: 4px;
    padding-left: 4px
}

#edit-slug-buttons {
    margin-right: 8px;
    display: flex
}

#edit-slug-buttons button {
    background: #e4e4e7!important;
    border-radius: unset!important;
    min-height: unset;
    line-height: 1;
    font-size: 12px
}

.row-title {
    font-weight: 500;
    color: #043959
}

.row-title:focus,.row-title:hover {
    color: #05304a
}

#major-publishing-actions {
    gap: .5rem;
    padding: 1rem 0 0!important;
    margin-top: 1rem!important;
    background: unset!important;
    border-top: 1px dashed #e4e4e7!important
}

#delete-action {
    line-height: unset!important
}

#delete-action,#publishing-action {
    width: 50%
}

#toplevel_page_woocommerce .wp-menu-image {
    background-image: unset!important
}

#toplevel_page_woocommerce .wp-menu-image::before {
    font-family: wp-administration-style-icons!important;
    content: ""!important
}

#collapse-menu .collapse-button-icon::before {
    font-family: wp-administration-style-icons!important;
    content: ""!important
}

#collapse-menu #collapse-button[aria-expanded=false] .collapse-button-icon::before {
    font-family: wp-administration-style-icons!important;
    content: ""!important
}

.wp-menu-image.dashicons-admin-media::before {
    font-family: wp-administration-style-icons!important;
    content: ""!important
}

.wp-menu-image.dashicons-dashboard::before {
    font-family: wp-administration-style-icons!important;
    content: ""!important
}

.wp-menu-image.dashicons-archive::before {
    font-family: wp-administration-style-icons!important;
    content: ""!important
}

.wp-menu-image.dashicons-chart-bar::before {
    font-family: wp-administration-style-icons!important;
    content: ""!important
}

.wp-menu-image.dashicons-megaphone::before {
    font-family: wp-administration-style-icons!important;
    content: ""!important
}

.wp-menu-image.dashicons-admin-users::before {
    font-family: wp-administration-style-icons!important;
    content: ""!important
}

.wp-menu-image.dashicons-admin-appearance::before {
    font-family: wp-administration-style-icons!important;
    content: ""!important
}

.wp-menu-image.dashicons-admin-tools::before {
    font-family: wp-administration-style-icons!important;
    content: ""!important
}

.wp-menu-image.dashicons-admin-plugins::before {
    font-family: wp-administration-style-icons!important;
    content: ""!important
}

.wp-menu-image::before {
    font-size: 16px!important
}

[class*=plugin-install-] .wp-filter {
    margin: unset;
    border-radius: 6px;
    border-color: #e4e4e7;
    min-height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 .5rem
}

[class*=plugin-install-] .filter-links {
    display: inline-flex;
    flex-wrap: wrap
}

[class*=plugin-install-] .filter-links li>a {
    margin: unset;
    padding: .5rem 1rem;
    border: unset!important;
    color: #52525b
}

[class*=plugin-install-] .search-plugins {
    display: flex
}

[class*=plugin-install-] #typeselector {
    height: 46px;
    border: unset;
    border-left: 1px solid;
    border-radius: unset!important;
    padding: 0 1rem 0 2.5rem;
    background-position-x: .75rem
}

[class*=plugin-install-] #search-plugins {
    height: 46px;
    margin-left: -.5rem;
    border: unset;
    line-height: 1;
    border-radius: 6px 0 0 6px
}

[class*=plugin-install-] .plugin-card {
    border: unset;
    border-radius: 6px;
    overflow: hidden
}

[class*=plugin-install-] .plugin-card .name {
    margin-top: .5rem
}

[class*=plugin-install-] .plugin-card h3 {
    font-size: .9rem;
    font-weight: 500
}

[class*=plugin-install-] .plugin-card .plugin-action-buttons .button {
    padding: .75rem 1.5rem;
    border-radius: 6px;
    color: #fafafa;
    min-height: unset;
    transition: .2s ease-in-out!important;
    user-select: none;
    line-height: 1;
    display: flex;
    gap: .5rem
}

[class*=plugin-install-] .plugin-card .plugin-action-buttons .button:not(.button-disabled) {
    background: #043959
}

[class*=plugin-install-] .plugin-card .plugin-action-buttons .button:not(.button-disabled).activate-now {
    background: #10b981
}

[class*=plugin-install-] .plugin-card .plugin-action-buttons .button:not(.button-disabled).activate-now:focus,[class*=plugin-install-] .plugin-card .plugin-action-buttons .button:not(.button-disabled).activate-now:hover {
    background: #059669!important
}

[class*=plugin-install-] .plugin-card .plugin-action-buttons .button:not(.button-disabled).activate-now:focus {
    box-shadow: 0 0 0 3px rgba(16,185,129,.4) print_important(true)
}

[class*=plugin-install-] .plugin-card .plugin-action-buttons .button::before {
    margin: unset;
    color: #e4e4e7;
    font-size: 14px
}

[class*=plugin-install-] .plugin-card .plugin-card-bottom {
    border: unset;
    background: #e4e4e7;
    padding: 1rem
}

[class*=plugin-install-] .plugin-card .plugin-card-bottom .star-rating .star {
    color: #f59e0b
}

[class*=plugin-install-] .plugin-card .column-rating {
    display: flex;
    align-items: center;
    gap: 4px;
    margin: unset
}

[class*=plugin-install-] .plugin-card .star-rating {
    display: flex;
    align-items: center
}

[class*=plugin-install-] .plugin-card .star-rating .star {
    display: flex;
    font-size: 1rem;
    margin-top: 7px;
    width: unset;
    height: unset
}

[class*=plugin-install-] .plugin-card .column-updated {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    gap: .5rem;
    font-weight: 500;
    margin: unset
}

[class*=plugin-install-] .plugin-card .compatibility-compatible strong {
    font-weight: 500
}

@media only screen and (max-width: 600px) {
    [class*=plugin-install-] .plugin-card .compatibility-compatible {
        font-size:0
    }

    [class*=plugin-install-] .plugin-card .compatibility-compatible strong {
        font-size: 13px
    }
}

[class*=plugin-install-] .tablenav {
    justify-content: flex-end
}

#woocommerce-product-images .inside #product_images_container {
    padding: 0!important;
    margin: 0!important
}

.seller-container.bigisellers input.c-ui-checkbox__origin {
    right: 26px;
    top: -6px
}

#woocommerce-product-images .inside #product_images_container ul li.add,#woocommerce-product-images .inside #product_images_container ul li.image,#woocommerce-product-images .inside #product_images_container ul li.wc-metabox-sortable-placeholder {
    margin: 3px 0 0 3px!important;
    border-radius: 0!important
}

#woocommerce_dashboard_recent_reviews .star-rating span::before {
    font-family: WooCommerce!important
}

#adminmenu,.rtl h1,.rtl h2,.rtl h3,.rtl h4,.rtl h5,.rtl h6,body.rtl,body.rtl .press-this a.wp-switch-editor {
    font-family: Estedad-FD,sans-serif
}
